<?xml version="1.0"?>
<configuration>
		<configSections>
				<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<section name="LookupDevelopmentApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
				</sectionGroup>
				<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<section name="LookupDevelopmentApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
				</sectionGroup>
		</configSections>
		<connectionStrings>
    <add name="LookupDevelopmentApplication.My.MySettings.cnLIMES"
      connectionString="Data Source=REC;Initial Catalog=Property;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LookupDevelopmentApplication.My.MySettings.cnEASE"
      connectionString="Data Source=REC;Initial Catalog=Record;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LookupDevelopmentApplication.My.MySettings.DataConnection"
      connectionString="Data Source=REC;Initial Catalog=DevelopmentSQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LookupDevelopmentApplication.My.MySettings.MMConnection"
      connectionString="Data Source=rec;Initial Catalog=Multimedia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LookupDevelopmentApplication.My.MySettings.cnDAsystem"
      connectionString="Data Source=REC;Initial Catalog=DevelopmentSQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LookupDevelopmentApplication.My.MySettings.connectionString"
      connectionString="Data Source=REC;Initial Catalog=DevelopmentSQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LookupDevelopmentApplication.My.MySettings.cnnLogon"
      connectionString="Data Source=REC;Initial Catalog=logon;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
		<system.diagnostics>
				<sources>
						<!-- This section defines the logging configuration for My.Application.Log -->
						<source name="DefaultSource" switchName="DefaultSwitch">
								<listeners>
										<add name="FileLog"/>
										<!-- Uncomment the below section to write to the Application Event Log -->
										<!--<add name="EventLog"/>-->
								</listeners>
						</source>
				</sources>
				<switches>
						<add name="DefaultSwitch" value="Information"/>
				</switches>
				<sharedListeners>
						<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
						<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
						<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
				</sharedListeners>
		</system.diagnostics>
		<userSettings>
				<LookupDevelopmentApplication.My.MySettings>
      <setting name="DefaultPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstTray" serializeAs="String">
        <value />
      </setting>
      <setting name="OtherTray" serializeAs="String">
        <value />
      </setting>
      <setting name="AdvertPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="TestDraftDocuemnts" serializeAs="String">
        <value>c:\temp\</value>
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
    </LookupDevelopmentApplication.My.MySettings>
		</userSettings>
		<applicationSettings>
				<LookupDevelopmentApplication.My.MySettings>
      <setting name="DocumentFolder" serializeAs="String">
        <value>\\rec\record\</value>
      </setting>
      <setting name="ARCHIVE" serializeAs="String">
        <value>\\rec\archive\</value>
      </setting>
      <setting name="HASHBIN" serializeAs="String">
        <value>\\rec\DocumentStorage\</value>
      </setting>
      <setting name="DraftDocumentsFolder" serializeAs="String">
        <value>\\fs\common\db\Development\DraftDocs\</value>
      </setting>
      <setting name="EASEOUTPUTFOLDER" serializeAs="String">
        <value>\\REC\RecordsDocs\ScannedDocs\</value>
      </setting>
      <setting name="GarbageEmail" serializeAs="String">
        <value>CarbageRequestMail@eurocoast.nsw.gov.au</value>
      </setting>
      <setting name="ReportLocation" serializeAs="String">
        <value>\\fs\common\db\development\reports\</value>
      </setting>
      <setting name="EaseDocLocation" serializeAs="String">
        <value>c:\records\</value>
      </setting>
      <setting name="DocumentGateway" serializeAs="String">
        <value>\\REC\RecordsDocs\ScannedDocs\</value>
      </setting>
      <setting name="FirstPageTray" serializeAs="String">
        <value>265</value>
      </setting>
      <setting name="PtherPagesTray" serializeAs="String">
        <value>263</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>REC</value>
      </setting>
      <setting name="GarbageMailCC" serializeAs="String">
        <value>robyn.burrett@eurocoast.nsw.gov.au</value>
      </setting>
      <setting name="ImageStorageLocation" serializeAs="String">
        <value>\\REC\MultimediaStorage\</value>
      </setting>
      <setting name="ImageArchiveStorage" serializeAs="String">
        <value>\\REC\MultimediaARCHIVE\</value>
      </setting>
      <setting name="SignatureLocation" serializeAs="String">
        <value>\\fs\common\DB\Development\Reports\Signatures\</value>
      </setting>
      <setting name="OSMSemail" serializeAs="String">
        <value>OSMS@eurocoast.nsw.gov.au</value>
      </setting>
      <setting name="LSLtemplate" serializeAs="String">
        <value>\\fs\common\db\development\CouncilReturnTemplate_V5_C0562.xlsx</value>
      </setting>
      <setting name="ConstructionCertificates" serializeAs="String">
        <value>\\fs\common\DB\Development\ConditionDocs\</value>
      </setting>
      <setting name="PlanLocation" serializeAs="String">
        <value>\\rec\daplans\</value>
      </setting>
    </LookupDevelopmentApplication.My.MySettings>
		</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FilmStripControl" publicKeyToken="FE41C86EB444978B" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.4122.31480" newVersion="1.0.4122.31480"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Outlook" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
